<!DOCTYPE html>
<html>
{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gym Reservation</title>
    <link rel="stylesheet" href="{% static 'asset/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}">
    <link rel="stylesheet" href="{% static 'asset/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'asset/css/untitled.css' %}">

    
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion " style="background-image: linear-gradient(-45deg, green, red);">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" >
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span style="color:white">Welcome <br> {{ user.username }}</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    
                    <li class="nav-item" role="presentation"><a class="nav-link active active" href="{% url 'session' %}"><i class="fas fa-table"></i>Reserve Gym</a>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'queue' %}"><i class="fas fa-table"></i>Coaching Videos</a>
                    
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            
                  
        </nav>
        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-header py-3">
                    <div> 
                        <div>
                            {% for msg in messages %}
                            <div class="alert alert-error" role="alert">
                                <h4 class="alert-heading">Error!!!</h4>
                                <p>{{ msg }} </p>
                                
                               
                              </div>
                              
                            
                            {% endfor %}
                          </div>
                        <hr>
                        <h1 class="text-center" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><strong>- My Reservation Date -&nbsp;</strong></h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr style="color: black; background-image: linear-gradient(-45deg, white, skyblue); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                    <th>Sl.No</th>
                                    <th>Image.</th>
                                    <th>Reservation Time</th>
                                    <th>Reservation Date</th>
                                    <th>Delete Option</th>
                                </tr>
                            </thead>
                            <tbody style="background-image: linear-gradient(45deg, white, skyblue); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                                {% for ob in obj %}
                                <tr>
                                    <td>{{ ob.sl_no }}</td>
                                    <td><img class="rounded-circle mr-2" width="30" height="30" src="{{ ob.image.url }}"></td>
                                    <td>{{ ob.time }}</td>
                                    <td>{{ ob.date }}</td>
                                    <td><a class="btn btn-danger btn-sm" href="{% url 'delete-session' ob.id %}">Delete</a></td>
                                   
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div style="padding-left: 30%;">
                    <a style="padding: 1.5%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="btn btn-success btn-sm" href="{% url 'reserve-gym' %}">Book Session</a>
                </div>
                <hr>
            </div>
        </div>
        
        <!-- <div class="container-fluid">
            <div class="card shadow">
                <div class="card-header py-3">
                    <div>
                        <h1 class="text-center"><strong># Status of My Reservation Date#&nbsp;</strong></h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th></th>
                                    <th>Reservation Date</th>
                                    <th>Session Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                </tr>
                               
                            </tbody>
                            <tfoot>
                                <tr></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
               
            </div>
        </div> -->
        
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"></div>
        </div>
    </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{% static 'asset/js/jquery.min.js' %}"></script>
    <script src="{% static 'asset/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'asset/js/chart.min.js' %}"></script>
    <script src="{% static 'asset/js/bs-init.js' %}"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js' %}"></script>
    <script src="{% static 'asset/js/theme.js' %}"></script>
</body>
{% endblock %}
</html>