.auto{

	width: 1000px;
	height: 90px;
	margin-top: 140px;
	margin-left: 70px;
	margin-bottom: 100px;
	float: left;
    flex-shrink: 1;
}

.img{
    display: flex;
	width: 1250px;
	height: 600px;
	border-radius: 10px;
    
}
